// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pinky: #e4d0c8;
$sol:#78746C;
$bluegreen: #3A7584;
$lightyellow:#F9E3BE;
$lightpink: #FFE7D7;
