.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.lighter {
  font-size: 15px;
  color: #78746C;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.wrapper-container {
  min-height: calc(100vh - 210px);
}
