// Specific CSS for your home-page
.bannerHP {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.bannerHP h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.bannerHP p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner-btn{
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 10px;
  background: lightgray;
  transition: background 0.3s ease;
  text-align: center;
}

.banner-btn:hover {
  background:darkgray;
  color: rgb(250, 250, 250);
  text-align: center;
}

.carousel-hp {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.carousel-caption {
  color:black;
}


.btn-light{
  font-size: 10px;
  color: rgb(116, 114, 114);
  text-align: center;
  border: px solid #4A4A4A;
  padding: 8px 24px;
}

.card-categoryHP {
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-heading {
  font-weight: bold;
}

.carousel-centre {
  width: 100%;
  text-align: center;
}
