<div class="d-flex justify-content-center">
  <button type="button" class="btn lighter btn-sm" data-bs-toggle="modal" data-bs-target="#terms" > Terms and conditions</button>
  <button type="button" class="btn lighter btn-sm" data-bs-toggle="modal" data-bs-target="#privacy" > Privacy policy</button>
  <button type="button" class="btn lighter btn-sm" data-bs-toggle="modal" data-bs-target="#returns" > Returns and exchanges</button>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

<div class="modal fade" id="terms" tabindex="-1" aria-labelledby="measuresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="measuresLabel" >TERMS AND CONDITIONS</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">

      This document (together with the documents mentioned herein) establishes the general terms and
      conditions that govern the use of this website (www.ELYSIUM.com) and the purchase of products on it
      (hereinafter referred to as the "Conditions").
      We urge you to read the Conditions, our Cookies Policy and our Privacy Policy (hereinafter, jointly, the
      “Data Protection Policies”) carefully before using this website. When using this website or placing an order
      on it, you are bound by these Conditions and our Data Protection Policies. If you don’t agree with the
      Conditions and with the Data Protection Policies, do not use this website.
      These Conditions may be modified. It is your responsibility to read them periodically, as the Conditions at
      the time of using the website or concluding of the relevant Contract (as defined further on) shall be those
      that apply.
      If you have any query regarding the Conditions or the Data Protection Policies, you may contact us by
      using the various means listed in the contact section of this website.
      In addition, you can, if you wish, freely register on the no telephone solicitation list at www.bloctel.gouv.fr.
      The Contract between us to purchase a product (hereinafter, the “Contract”) may be executed, at your
      choice, in any of the languages in which the Conditions are available on this website.

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="privacy" tabindex="-1" aria-labelledby="measuresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="measuresLabel" >PRIVACY POLICY</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">

        1. WHO WE ARE.
        <br>
        We are ELYSIUM France, S.A.R.L. and Industria de Diseño Textil, S.A.
        (INDITEX, S.A.), and we process your personal data as joint controllers. This means that
        we are jointly responsible for how we process and protect your data.
        <br>
        2. WHAT WE USE YOUR DATA FOR.
        <br>
        We will use your data (collected online
        or in person), among other purposes, to manage your registration as a user, to manage
        your purchases of products or services, to respond to your queries, and, if you wish, to
        send you our customised communications.
        <br>
        3. WHY WE USE YOUR DATA.
        <br>
        We have legal standing to process your data for
        various reasons. The main one is that we need to process them to perform the contract
        that you accept with us when you register and when you make a purchase or enjoy any of
        our services or functionalities, although other reasons also enable us to use them, such as
        our interest to respond to your queries or the consent that you give us to send you our
        newsletter, among others.
        <br>
        4. WHO WE SHARE YOUR DATA WITH.
        <br>
        We share your data with service providers who provide us with assistance or support,
        these being companies in the Inditex Group or third party collaborators with whom we have reached an agreement.
        <br>
        5. YOUR RIGHTS.
        <br>
        You have the right to access, rectify or delete your personal data. In
        certain cases, you are also entitled to other rights, such as, for example, to object to us
        using your data, or to their portability, as explained in depth below.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="returns" tabindex="-1" aria-labelledby="measuresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="measuresLabel" >RETURNS AND EXCHANGES</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">

        Notwithstanding the provision 17.1, if you consider that the size or the color of the purchased product
        does not meet your requirements, regardless of the right of withdrawal, which assists you legal and
        contractually, you may request the change through section "Returns and Exchanges" of "My account" of
        this website and select the size or the color for which you want to change the first purchased product,
        provided that (i) it is the same product, (ii) presents an amount equal to or greater than the first purchased
        product (in this case, the price difference shall not be charged to you) and (iii) certain means of payment
        have been used (please consult Clause 14 of the present Conditions for further information). Please note
        that this functionality will only be displayed when the previous conditions are met.
        Once requested the change and selected the appropriate return method, you shall return the product in
        any ELYSIUM store in France which have the same section to which the item you wish to change belongs to
        or using drop off return method arranged by ELYSIUM. You shall always return the product without any
        undue delay and in any event within a maximum period of 14 calendar days from the change request in
        the website. Neither of the two options will generate additional costs for you.
        In case of returns at any ELYSIUM store in France, you should present with the item the e-ticket that was
        attached to the Shipment Confirmation. When returning the product by using drop off return method
        arranged by ELYSIUM, you should deliver the product in the same package received by following the
        directions on the “Returns and exchanges” section of this website. If you no longer have the original
        packaging, you can return your order using any other packaging, as long as it is sealed correctly to avoid
        losing the item(s).
        Whether you have chosen the delivery to any ELYSIUM store in France or using drop off return method
        arranged by ELYSIUM, we will send the new order consistent in the product whose size or color you selected
        again within 2-3 working days from the change request and in any case within a maximum period of 30
        days from that date. This option will not present an extra cost to you. This new order is governed by the
        provisions of the Conditions, including the exercise of the right of withdrawal.
        Remember that after 14 calendar days from the change request in the website, but you have not returned
        the product purchased in the first place through the means ELYSIUM offers, we are entitled to charge the
        costs corresponding to the new order placed, subject to the provisions of the “Terms and Conditions”.
        </div>
      </div>
    </div>
  </div>
</div>
