<<div class="d-flex align-items-center">
  <button type="button" class="btn btn-light btn-sm" > Terms and Conditions</button>
  <button type="button" class="btn btn-light btn-sm" > Privacy Policy</button>
  <button type="button" class="btn btn-light btn-sm" > Returns and Exchanges</button>

  <div class="footer">
    <div class="footer-links d flex align-items-center">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
