<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="/">
      <img src="https://mma.prnewswire.com/media/660552/Elysium_Health_Logo.jpg?p=facebook" />
    </a>
    <div class="search">
      <form action="#">
        <input type="text" placeholder=" Search Courses" name="search">
        <button>
          <i class="fa fa-search" style="font-size: 18px;"></i>
        </button>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add a product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add your measures</a>
        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Log In/Sign Up</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
