<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="/">
      <img src="https://mma.prnewswire.com/media/660552/Elysium_Health_Logo.jpg?p=facebook" />
    </a>
<div class="search__container">
     <%= form_with url: products_path, method: :get, class: "d-flex form-width" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search__input",
            placeholder: "SEARCH FOR AN ITEM"
        %>
    <% end %>
</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a href="/products/new"><i class="fa fa-plus"></i></a>
          <a href="/dashboard"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/edit">Log In / Sign Up</a>
            <a class="dropdown-item" href="/users/edit">Add Measurements</a>
            <a class="dropdown-item" href="/dashboard">My Cart</a>
            <a class="dropdown-item" href="/products/new">Sell a Product</a>
            <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
