<div class="bannerHP" style="background-position:top;background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://theimpression.com/wp-content/uploads/2022/03/Milano-str-F22-6970-1170x585.jpg);">
  <div class=" home container">
    <h1><strong>ELYSIUM</strong></h1>
    <p>A state of great happiness</p>
    <div class="row justify-content-center">
    <p class=""><strong><%= link_to "SHOP NOW", products_path, class:"black_link btn btn-flat" %></strong></p>
    <p class=""><strong><%= link_to "SELL ITEMS",  new_product_path, class:"black_link btn btn-flat" %></strong></p>

    </div>
  </div>
</div>


<div class="label-container">
<label for="exampleFormControlTextarea1" class=" col-form-label col-form-label-lg" center-label style="font-weight: bold;"> ABOUT US </label>
</div>
<div id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center">
        <img class="carousel-hp w-50"  src="https://theimpression.com/wp-content/uploads/2023/04/harrods-spring-2023-ad-campaign-the-impression-011-770x513.jpg" class="d-block w-100" alt="First slide">
          <div class="carousel-centre w-50"> <h6 class="bold-heading">OUR MISSION</h6>
          <br>
          <p>Our mission is to create a unique and personalized online shopping experience where our customers can visualize all items on themselves, reducing the need for returns. In addition, we offer our clients the opportunity to sell their personal items and purchase vintage pieces to reduce waste and support a circular economy.   </p>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <img class="carousel-hp w-50" src="https://media.istockphoto.com/id/1436684245/fr/photo/des-mannequins-sur-un-podium-lors-dun-d%C3%A9fil%C3%A9-de-mode.jpg?s=612x612&w=0&k=20&c=SbqrW-v_iYEA-bDMLPxt1zLCt006Au_LfB1GFqD5HDo=" class="d-block w-100" alt="Second slide">
          <div class= "carousel-centre "> <h6 class="bold-heading">OUR VISION</h6>
          <br>
          <p>Our vision is to join the fashion revolution.</p>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <img class="carousel-hp w-50" src="https://media.istockphoto.com/id/1440767383/fr/photo/d%C3%A9fil%C3%A9-de-mode-d%C3%A9fil%C3%A9-d%C3%A9fil%C3%A9-mannequins-marchant-sur-le-podium.jpg?s=612x612&w=0&k=20&c=N75e7WjI2_UCGjrCRQjqSpnjGUubYotBG60g1djdtKo=" class="d-block w-100" alt="Third slide">
          <div class= "carousel-centre"> <h6 class="bold-heading">WHAT MAKES US DIFFERENT</h6>
          <br>
          <p> We believe that there is change coming to the fashion industry, and we are choosing to be at the forefront of this change. We believe in making a positive impact on the planet through our second hand pieces and offer our clients an extremely personalized and customized shopping experience.  </p>
          </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="label-container">
 <label for="exampleFormControlTextarea1" class=" col-form-label col-form-label-lg"style="font-weight: bold;">TRENDING</label>
 </div>

<div class="d-flex justify-content-center">
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.zara.net/photos///2023/V/0/1/p/7149/042/712/12/w/563/7149042712_2_1_1.jpg?ts=1681122110761">
 </div>
  <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1129815594/fr/photo/trop-beau-pour-%C3%AAtre-r%C3%A9el-pleine-longueur-de-belle-femme-blonde-souriant-et-gestes-tout-en-se.jpg?s=612x612&w=0&k=20&c=o-LaT6rA4jiwPKw0P0c7r2dQHEfwUtpxT7MxLw5Eiqk=">
 </div>
  <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1367180724/fr/photo/jeunes-femmes-%C3%A9l%C3%A9gantes-en-tenues-pastel-debout-ensemble-concept-de-mode-photo-darchives.jpg?s=612x612&w=0&k=20&c=s_f-lDhnw_VPz5HGv4erUMmqz-aDxtlBvF0V6d0DRZo=">
 </div>
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1390691695/fr/photo/belle-jeune-femme-mince-dans-une-%C3%A9l%C3%A9gante-robe-en-soie-de-couleur-orange-%C3%A0-lair-magnifique.jpg?s=612x612&w=0&k=20&c=X_n-cG5DrXoQRhFA6ZPx0NfmoEmk3DCvvJ5Q5vnoU8s=">
 </div>
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1475001673/fr/photo/%C3%A9motions-humaines-impersonnelles-une-fille-%C3%A9l%C3%A9gante-en-manteau-gris-et-collants-rouge-vif-se.jpg?s=612x612&w=0&k=20&c=yH13JgN7BGH8DXEiYixnqvyeKttp6Boiesxt6ZVkCko=">
 </div>
</div>
<%= render 'shared/footer' %>
