<div class="bannerHP" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class=" home container">
    <h1>ELYSIUM</strong></h1>
    <p>A state of great happiness</p>\
     <div class="row justify-content-center">

    <a class="btn btn-flat" href="#">Click to Shop</a>
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="5">
    <div class="carousel-item carousel-hp active">
      <img class="carousel-hp" src="https://media.istockphoto.com/id/1371057665/photo/capsule-clothes-of-beige-coloron-a-rack-closeup.jpg?b=1&s=170667a&w=0&k=20&c=I_bfIZDX84ex85iF7fCvS_fahjCG2d674S39DK5XnTU=" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Our vision</h5>
        <p>Our vision is to .....</p>
      </div>
    </div>
    <div class="carousel-item carousel-hp">
      <img class="carousel-hp" src="https://images.unsplash.com/photo-1543087903-1ac2ec7aa8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2xvdGhpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Our mission </h5>
        <p>Our mission is to create a fashion revolution</p>
      </div>
    </div>
    <div class="carousel-item carousel-hp">
      <img class="carousel-hp" src="https://media.istockphoto.com/id/1339264709/photo/flat-lay-with-womans-clothes-and-accessories.jpg?b=1&s=170667a&w=0&k=20&c=QmBv2i2J2uLi6lVxMf3EcZ3iiyg_aygJ_elCuTptGz0=" alt="Third slide">
       <div class="carousel-caption d-none d-md-block">
        <h5>...</h5>
        <p>...</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
