<div class="bannerHP" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmFzaGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class=" home container">
    <h1>ELYSIUM</strong></h1>
    <p>A state of great happiness</p>
    <div class="row justify-content-center">
    <p class=""><strong><%= link_to "Click to Shop", products_path, class:"black_link btn btn-flat" %></strong></p>
    </div>
  </div>
</div>
<div class="label-container">
<label for="exampleFormControlTextarea1" class=" col-form-label col-form-label-lg" center-label style="font-weight: bold;"> ABOUT US </label>
</div>


<div id="carouselExample" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex align-items-center">
        <img class="carousel-hp"  src="https://media.istockphoto.com/id/1349960077/fr/photo/v%C3%AAtements-en-denim-%C3%A0-bascule.jpg?s=612x612&w=0&k=20&c=ATDIYlImqW21B3hV-veTOGtSKzvvovOrvY8a5ojStBA=" class="d-block w-100" alt="First slide">
          <div class= carousel-centre> <h6 class="bold-heading">OUR MISSION</h6>
          <p>Our mission is to .....</p>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <img class="carousel-hp" src="https://media.istockphoto.com/id/1436684245/fr/photo/des-mannequins-sur-un-podium-lors-dun-d%C3%A9fil%C3%A9-de-mode.jpg?s=612x612&w=0&k=20&c=SbqrW-v_iYEA-bDMLPxt1zLCt006Au_LfB1GFqD5HDo=" class="d-block w-100" alt="Second slide">
          <div class= carousel-centre> <h6 class="bold-heading">OUR VISION</h6>
          <p>Our vision is to .....</p>
          </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <img class="carousel-hp" src="https://media.istockphoto.com/id/1440767383/fr/photo/d%C3%A9fil%C3%A9-de-mode-d%C3%A9fil%C3%A9-d%C3%A9fil%C3%A9-mannequins-marchant-sur-le-podium.jpg?s=612x612&w=0&k=20&c=N75e7WjI2_UCGjrCRQjqSpnjGUubYotBG60g1djdtKo=" class="d-block w-100" alt="Third slide">
          <div class= carousel-centre> <h6 class="bold-heading">WHAT MAKES US DIFFERENT</h6>
          <p>Our mission is to .....</p>
          </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="label-container">
 <label for="exampleFormControlTextarea1" class=" col-form-label col-form-label-lg"style="font-weight: bold;">TRENDING</label>
 </div>

<div class="d-flex">
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1353385456/fr/photo/beaut%C3%A9-mode-femme-en-chapeau-rond-noir-et-imperm%C3%A9able-en-cuir-pr%C3%A8s-de-l%C3%A9tang-du-lac-portrait.jpg?s=612x612&w=0&k=20&c=ccxoARhYgZULrjlW1RQ7z-zftDNHhOojy-E3P41Kyz0=">
 </div>
  <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1129815594/fr/photo/trop-beau-pour-%C3%AAtre-r%C3%A9el-pleine-longueur-de-belle-femme-blonde-souriant-et-gestes-tout-en-se.jpg?s=612x612&w=0&k=20&c=o-LaT6rA4jiwPKw0P0c7r2dQHEfwUtpxT7MxLw5Eiqk=">
 </div>
  <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1367180724/fr/photo/jeunes-femmes-%C3%A9l%C3%A9gantes-en-tenues-pastel-debout-ensemble-concept-de-mode-photo-darchives.jpg?s=612x612&w=0&k=20&c=s_f-lDhnw_VPz5HGv4erUMmqz-aDxtlBvF0V6d0DRZo=">
 </div>
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1390691695/fr/photo/belle-jeune-femme-mince-dans-une-%C3%A9l%C3%A9gante-robe-en-soie-de-couleur-orange-%C3%A0-lair-magnifique.jpg?s=612x612&w=0&k=20&c=X_n-cG5DrXoQRhFA6ZPx0NfmoEmk3DCvvJ5Q5vnoU8s=">
 </div>
 <div class="card-categoryHP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1475001673/fr/photo/%C3%A9motions-humaines-impersonnelles-une-fille-%C3%A9l%C3%A9gante-en-manteau-gris-et-collants-rouge-vif-se.jpg?s=612x612&w=0&k=20&c=yH13JgN7BGH8DXEiYixnqvyeKttp6Boiesxt6ZVkCko=">
 </div>
</div>

<div class="d-flex justify-content-center">
<button type="button" class="btn btn-light btn-sm" > Terms and Conditions</button>
<button type="button" class="btn btn-light btn-sm" > Privacy Policy</button>
<button type="button" class="btn btn-light btn-sm" > Returns and Exchanges</button>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
