.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search input[type=text] {
  width: 300px;
  height: 25px;
  border-radius: 25px;
  border: none;
}

.search button {
  background-color: #0074D9;
  color: #f2f2f2;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.navbar-nav {
  align-items: center;
}
